body
{
	font: 13px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #e6eae3;
}

#chat-log
{
	background-color: #a2d7dd;
	margin: 5px;
	border: solid 1px #000;
	position: fixed;
	top: 30px;
	bottom: 90px;
	width: 100%;
	overflow-y: scroll;
}

#chat-log ul
{
	list-style: none;
	margin: 0;
	padding: 0;

}

#chat-log ul li
{
	padding: 5px 10px;
}

/*#chat-log ul li:nth-child(odd)
{
	background-color: #f5e56b;
}
*/

.them-line {
	background-color: #f5e56b;
}

form
{
	width: 100%;
	background-color: #FFF;
	position: fixed;
	bottom: 0px;
}

form #chat-input
{
	border: none;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button
{
	width: 9%;
	background-color: #f5e56b;
	border: none;
	padding: 10px;
}